<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063399479208-59v1p9o7utdf8441ai32gsav659ekn8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063399479208-59v1p9o7utdf8441ai32gsav659ekn8o</string>
	<key>API_KEY</key>
	<string>AIzaSyDixCdRZQ07UiDrDu1pFFKVehcsyDMqg7o</string>
	<key>GCM_SENDER_ID</key>
	<string>1063399479208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>golf.spicy</string>
	<key>PROJECT_ID</key>
	<string>spicy-golf-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>spicy-golf-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063399479208:ios:3dfd661015532fe07f2f9d</string>
	<key>DATABASE_URL</key>
	<string>https://spicy-golf-prod.firebaseio.com</string>
</dict>
</plist>